---
import { SOCIALS } from "@config";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Socials from "@components/Socials.astro";

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <div class="grid grid-cols-1 justify-center items-center sm:grid-cols-2 grid-order mb-16 space-y-8">
        <div class="flex justify-center self-center font-bold text-xl text-skin-accent">
          <p class="text-6xl">Welcome!</p>
        </div>
        <div class="flex justify-center">
          <img src="/assets/sohan-ghodla.jpg" alt="Sohan Ghodla" width="350px" class="text-center rounded-full" />
        </div>
      </div>

      <p>
        I'm Sohan Ghodla, a final year Ph.D. student at the University of Auckland, New Zealand. 
      </p>
        The focus of my current research is the evolution of stellar and compact binary systems (such as neutron stars and black holes). I aim to understand the influences of the companion and the surrounding environment on the properties and dynamics of these twin systems. This can result from various factors, such as the strong tidal interactions between massive stars, the mass accretion by a stellar companion (or a compact remnant) and the influence of the interstellar medium and galactic dark matter accretion. 
      </p>
      <p>
        In addition to my current research, I'm interested in Black Hole Thermodynamics and gauge/gravity duality. 
      </p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>
  </main>
  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
